@import "~antd/dist/antd.css";

body {
  margin: 0;
  // padding: 3px;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif; */
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#app {
  height: 100%;
  width: 100%;
  position: relative;
  min-height: 768px;
  min-width: 1366px;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("./../media//bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(4px);
    opacity: 0.3;
    z-index: -1;
  }
}

@keyframes toggle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.switch-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.lean-music-content {
  padding: 20px;
}

.lean-music-list-item {
  display: flex;
  padding-left: 3px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  &:hover {
    cursor: pointer;
    border: 1px dashed transparent;
  }
  > span {
    display: inline-block;
  }
  > span:nth-child(1) {
    width: 5%;
    text-align: center;
  }
  > span:nth-child(2) {
    width: 85%;
  }
  > span:nth-child(3) {
    width: 5%;
    text-align: center;
  }
  > span:nth-child(4) {
    width: 5%;
    text-align: center;
  }
}

.lean-progressContent {
  height: 60px;
  width: 90%;
  margin: 0 auto;
  background: #fff;
  opacity: 0.7;
  border-radius: 4px;
  padding: 15px;
  .lean-time-info {
    display: flex;
    justify-content: space-between;
  }
}
